



body {
    
    background-color:rgb(224, 255, 192);
    background-repeat: repeat;
}

header {
   display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 95%;
    top: 0%;
    z-index: 1;
    padding: 30px 30px;
    
    background-color:rgb(255, 192, 203);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    
}

nav{
    word-spacing: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    
}
.active {
    font-weight: bold;
    color: darkmagenta;
    font-weight: bolder;
    
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  gap: 1px; 
  margin-top:100px;
  
}
h1{
    text-align: center;
    margin-top: 170px;
    font-size: 50px;
}
.hero-text button {
  padding: 15px 20px;
  background-color: #ffb6c1;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(31, 30, 30);
}

footer {
   display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 60%;
    
    bottom: 0%;
    right: 0%;
    z-index: 100;
    padding: 25px 30px;
    
    background-color:rgb(255, 192, 203);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    border-top-left-radius: 90px;
    
}


footer a {
  text-decoration: none;
  color: darkblue;
  font-weight: 500;
  margin-left: 30px;
}
#logo{
     border-radius: 50px; 
     z-index: 10000;
    position: fixed;
    top: 0;
    margin-left: 40px;
    height: 80px;

    width: 80px;
}


.menu-icon{
  display: none;
  
  z-index: 200px;
}

.about-section{
    padding: 40px;
    text-align: center;
    margin: 100px auto 30px auto;
    max-width: 800px;
    margin-top: 200px;
}
.about-section h2{
    color: #5e17eb;
    font-size: 32px;
    margin-bottom: 15px;
}
.about-section p{
    color: #333;
    font-size: 18px;
    line-height: 1.6;
} 

@media (max-width: 768px) {
   header{
    padding: 35px;
    position: fixed;
    width: 79%;
    gap: 0px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
  }
  footer {
    
    align-items: center;
    padding: 30px;
    width: 70%;
    gap: 5px;
    border-top-left-radius: 200px;
    
  }
  #logo{
    margin-left: 0;
    margin-right: 900px;
  }

  .nav-links {
    display: flex;
    gap: 0.6rem;
}

    

 
.hero-text h1 {
    font-size: 1.8rem;
    margin: 30px 10px;
  }

  #start-btn button {
    margin: 30px 10px;
    font-size: 1.8rem;
  }
   
#start-btn button:hover {
  background-color: #ff69b4;
  color: white;
}
.about-section{
    padding: 40px;
    text-align: center;
    margin: 100px auto 30px auto;
    max-width: 800px;
    margin-top: 100px;
}
.about-section h2{
    color: #5e17eb;
    font-size: 32px;
    margin-bottom: 15px;
}
.about-section p{
    color: #333;
    font-size: 18px;
    line-height: 1.6;
} 


}